In [1]:
import pandas as pd
import numpy as np
import os
from env import host, user, password
import wrangle

In [ ]:
df = wrangle.get_telco_regression()
df.head()

In [ ]:
df.info()

In [ ]:
# what do I need to change?
# total charges to float
df = df.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
df.info()

In [ ]:
df = df.dropna()
df.info()

In [ ]:
df['total_charges'] = df['total_charges'].astype(float)

In [ ]:
df.info()

In [ ]:
def wrangle_telco():
    '''
    This function uses my login credentials to connect to the telco_churn dataset on 
    Codeup database. It uses a SQL query to return the 'customer_id', 'monthly_charges', 
    'tenure', and 'total_charges' of all customers with a 2 year contract. It also checks
    to see if there is an existing csv file, and if not, writes the database to a csv, to
    optimize speed.
    '''
    df = get_telco_regression()
    df = df.replace(r'^\s*$', np.nan, regex=True)
    df = df.dropna()
    df['total_charges'] = df['total_charges'].astype(float)
    
    return df

In [2]:
# testing to see if my function(s) are built on top of each other correctly
df = wrangle.wrangle_telco()

In [3]:
df['total_charges'].sort_values()

188       20.35
1449      20.45
239       52.00
233       68.80
127       76.65
         ...
1679    8547.15
1504    8564.75
1657    8594.40
1649    8670.10
1271    8672.45
Name: total_charges, Length: 1685, dtype: float64